<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
  <div class="pattern-attachment-img">
    <img src="<%= page.photos %>" src="<%- theme.lazyloadImg %>" data-src="<%= page.photos %>" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
  </div>
  <header class="pattern-header ">
    <h1 class="entry-title">
    新冠疫情地图</h1>
  </header>
  <style type="text/css">
    body{
      background-color: #3B3B3B;
    }
    .pattern-center::after {
      background-color: #3B3B3B;
    }
    .site-content {
      max-width: 900px;
      background-color: #242424;
      padding: 0 10px;
      margin-left: auto;
      margin-right: auto;
    }
    .site-footer {
      padding: 2%;
      background: #242424;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
    h1{
      color: #C4C4C4
    }
    .pattern-center-blank{
      background-color: rgb(117,117,117,0.4);
    }
    .yya {
      background-color: rgb(117,117,117,0.95);
    }
    .site-top ul li a {
      color: #C4C4C4;
    }
    .logolink .sakurasono {
      background-color: rgb(85,85,85,0.025);
      color: #C4C4C4;
    }
    .logolink.moe-mashiro a {
      color: #C4C4C4;
    }
    i.iconfont.js-toggle-search.iconsearch {
      color: #C4C4C4;
    }
  </style>
</div>
<div id="content" class="site-content">
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
<div>
  <h1>数据来源:约翰斯·霍普金斯大学（Johns Hopkins University）</h1>
  <iframe title="Coronavirus COVID-19 Global Cases by Johns Hopkins CSSE" width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"></iframe>
  <h3><a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank" rel="nofollow"></i> Johns Hopkins University网站</a></h3>
</div>
    <div style="text-align:center; width: 100%" class="social-share share-mobile" data-disabled="diandian, tencent"></div>
    <footer class="post-footer">
      <div class="post-lincenses"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank" rel="nofollow"><i class="fa fa-creative-commons" aria-hidden="true"></i> 知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a></div>
      <div class="post-tags">
      </div>
      <div class="post-share">
        <div class="social-share sharehidden share-component"></div>
        <i class="iconfont show-share icon-forward"></i>
      </div>
    </footer><!-- .entry-footer -->
  </article>
  <section class="author-profile">
    <div class="info" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
      <a href="/about/" class="profile gravatar"><img src="<%- (theme.cdn || '') + theme.avatar%>" itemprop="image" alt="hojun" height="70" width="70"></a>
      <div class="meta">
        <span class="title">Author</span>
        <h3 itemprop="name">
        <a href="<%- theme.url%>" itemprop="url" rel="author"><%- config.author %></a>
        </h3>
      </div>
    </div>
    <hr>
    <p><i class="iconfont icon-write"></i><%- theme.description%></p>
  </section>
</div>